<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" setEtag="true">
			</clientCache>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Redirect to HTTP" stopProcessing="true">
					<match url=".*" negate="false" />
					<conditions>
						<add input="{HTTPS}" pattern="OFF" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent">
					</action>
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>