html {
    background-color: #000;
}

body {
    background-color: #fff;
}

header {
    background-color: #0970b8;
    color: #fff;
}

    header a,
    footer a {
        color: #fff;
    }

    header .logo {
        padding-top: 10px;
        padding-left: 15px;
        width: 200px;
        height: 50px;
        font-weight:bold;
    }

    header .icons {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    header .icons .icon {
        display: inline-block;
        margin-left: 8px;
    }

menu {
    display: none;
    margin: 0 15px;
    padding: 15px;
    border-top: solid #fff 1px;
}

    menu a {
        display: block;
    }

main {
    margin: 5px 10px;
    background-color: #fff;
    color: #000;
}

footer {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
}